{% extends 'layouts/base_admin.html' %}

{% load staticfiles %}

{% block title %}Emisoras{% endblock %}

{% block content %}

	<div class="centrado">
		<h1>Emisoras</h1>
	</div>

	<div class="espacio"></div>

	{% if emisoras %}
    <table id="tabla_emisoras" class="table table-striped table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>URL</th>
                <th>Géneros</th>
                <th>Opción</th>
            </tr>
        </thead>
        <tbody>
			{% for emisora in emisoras %}
			  <tr>
				<td>{{ emisora.nombre }}</td>
				<td>{{ emisora.url }}</td>
				<td>{{ emisora.generos }}</td>
				<td>
					<a href="{% url 'radioonline_emisora_edit' emisora.id %}"><img data-toggle="tooltip" src="{% static 'images/edit.png' %}" title="Editar"></a>
					<a href="{% url 'radioonline_emisora_delete' emisora.id %}"><img data-toggle="tooltip" src="{% static 'images/delete.png' %}" title="Borrar"></a>
				</td>
			  </tr>
			{% endfor %}
        </tbody>
    </table>
	{% else %}
		<h3 class="centrado">No se encontraron emisoras</h3>
		<div class="espacio"></div>
		<a href="{% url 'radioonline_instalar' %}" class="btn btn-primary boton-extra-largo centrar" role="button"><i class="fa fa-cog espacio-icono" aria-hidden="true"></i>Instalar emisoras por defecto</a>
	{% endif %}		

	<div class="espacio"></div>

	<a href="{% url 'radioonline_emisora_view' %}" class="btn btn-primary boton-extra-largo centrar" role="button"><i class="fa fa-plus espacio-icono" aria-hidden="true"></i>Agregar nueva emisora</a>

{% endblock %}