{% extends 'layouts/base.html' %}

{% load staticfiles %}

{% block title %}Radio Online 1.0{% endblock %}

{% block content %}

<div id="titulo">Seleccione una emisora</div>
<div id="barra"></div>
<div id="animacion"></div>
<div id="volumen" class="desvanecer">
	<div id="barraCompleta" class="barra"></div>
	<div id="barraVacia" class="barra"></div>
	<div id="deslizarBtn"></div>
  </div>
<footer>
	<div class="container text-center">
	<div class="btn-group d-flex">
	  <button type="button" class="btn btn-dark boton" onclick="location.href={% url 'radioonline_emisora_list' %};"><i class="fa fa-user-circle fa-5x"></i></button>
	  <button id="btnBuscar" type="button" class="btn btn-dark boton"><i class="fa fa-list fa-5x"></i></button>
	  <button type="button" class="btn btn-dark boton" id="btnRetroceder"><i class="fa fa-backward fa-5x"></i></button>
	  <button type="button" class="btn btn-dark boton" style="display: none;" id="btnDetener"><i class="fa fa-stop-circle fa-5x"></i></button>
	  <button type="button" class="btn btn-dark boton" id="btnReproducir"><i class="fa fa-play-circle fa-5x"></i></button>
	  <button type="button" class="btn btn-dark boton" id="btnAdelantar"><i class="fa fa-forward fa-5x"></i></button>
	  <button type="button" class="btn btn-dark boton" id="volumenBtn"><i class="fa fa-volume-up fa-5x"></i></button>
	</div>
	</div>
</footer>
<div id="modal_buscador" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title">Buscador de emisoras</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<div class="input-group">
			  <input class="form-control py-2" type="search" value="" id="buscarTexto">
			  <span class="input-group-append">
				<button class="btn btn-outline-secondary" type="button">
					<i class="fa fa-search"></i>
				</button>
			  </span>
		</div>
		<div class="barraDesplazamiento">
		  <table class="table sin-bordes table-hover" id="listaEmisoras">
			<thead>
			  <tr>
				<th scope="col">Nombre</th>
				<th scope="col">Géneros</th>
			  </tr>
			</thead>
			<tbody>
			</tbody>
			</table>
			<div id="mensaje" class="centrado"></div>
		</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	  </div>
	</div>
  </div>
</div>

{% endblock %}