{% extends 'layouts/base.html' %}

{% block title %}Borrar genero{% endblock %}

{% block content %}

    <div class="titulo">
        <h1>Generos</h1>
    </div>

	<div class="espacio"></div>
	
	<div class="jumbotron">
	  <form action="{% url 'radioonline_genero_delete' genero.id %}" method="POST" name="form_generos">
	  	{% csrf_token %}
        <fieldset>
            <div class="text-center">
                <h1>Eliminacíon</h1>
                <p class="lead">¿Estás seguro que deseas eliminar la genero {{ genero.nombre }} ?</p>
                <p class="lead">
                    <button type="submit" name="borrar_genero" class="btn btn-danger boton-largo"><i class="fa fa-times espacio-icono" aria-hidden="true"></i>Borrar</button>
                    <a href="{% url 'radioonline_genero_list' %}" class="btn btn-primary boton-largo" role="button"><i class="fa fa-arrow-left espacio-icono" aria-hidden="true"></i>Volver</a>
                </div>
            </div>
        </fieldset>
	  </form>
	</div>

{% endblock %}