html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 150px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  color:white;
}

.boton {
  width: 100%;
  height: 100px;
}

#titulo {
  position: absolute;
  width: 100%;
  top: 3%;
  line-height: 34px;
  height: 34px;
  text-align: center;
  font-size: 34px;
  opacity: 0.9;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

#barra {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  opacity: 0.9;
}

#volumen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  touch-action: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: none;
}

.barra {
  position: absolute;
  top: 50%;
  left: 5%;
  margin: -5px auto;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

#barraVacia {
  width: 90%;
  opacity: 0.5;
  box-shadow: none;
  cursor: pointer;
}

#barraCompleta {
  width: 90%;
}

#deslizarBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 93.25%;
  margin: -25px auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
  border-radius: 25px;
  cursor: pointer;
}

.desvanecer {
  webkit-animation: fadeout 0.5s;
  -ms-animation: fadeout 0.5s;
  animation: fadeout 0.5s;
}
.fundir {
  webkit-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

#animacion {
  width: 100%;
  height: 30%;
  position: absolute;
  left: 0;
  top: 50%;
  margin: -15% auto;
  display: none;
  cursor: pointer;
  opacity: 0.8;
  -webkit-user-select: none;
  user-select: none;
}

#animacion:hover {
  opacity: 1;
}

#barra {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  opacity: 0.9;
}

.barraDesplazamiento {
  height:400px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.sin-bordes td, .sin-bordes th {
    border: none;
}

.itemSeleccionado,
.itemSeleccionado:hover {
cursor:pointer;
}

.ocultar {
  display:none;
}

.centrado {
  text-align: center;
}

.mini-espacio {
  margin-top: 1em;
}

.espacio {
    margin-top: 2em;
}

.doble-espacio {
    margin-top: 3em;
}

.espacio-icono {
  margin-right:5px;
}

.boton-normal {
  width: 110px;
}

.boton-largo {
  width: 250px;
}

.boton-extra-largo {
  width: 300px;
}

.contenedor {
  margin-left: 20%;
  margin-right: 20%;
}

.centrar {
  display: table;
  margin: 0 auto;
}